
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap');


/* Aqui criamos variáveis para auxiliar na hora de colorir um item no site*/
:root {
    --blue: #00008B;
    --gray: #555555;
    --skyblue: #00BFFF;
    --silver: #c0c0c0c0;
    --red: #ff0000;
    --white: #ffffff;
    --darkgray: #959595;
}

/*Resetamos para iniciar o estilo*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style-type: none;
}
body, button, input {
    font:400 22px "Roboto", sans-serif;/*estamos dando peso da fonte para reduzir a barra branca depois do rodapé*/
}

/*Cabeçalho padrão - header */
.main-header {
    background-image: url(background-image.png);
    background-position: 50% 39%;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.main-nav {
    width: 100%;
}

.header-list-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.nav-item {
    text-transform: uppercase;
    color: var(--blue);

}

hr {
    width: 100%;
}

.nav-item a {
    text-decoration: none;
    color: inherit;
}

.nav-item:hover {
    color: var(--skyblue);
    transition: 0,5s;

}

.logo-zoom {
    transition: transform 0.3s ease;
}

.logo-zoom:hover {
    transform: scale(1.2);
}

.sub-item {
    display: none;
    position: fixed;
    padding: 10px;
    border-radius: 5px;
}

.nav-item:hover .sub-item {
    display: block;
}

.sub-item li {
    margin-bottom: 5px;
}

.sub-item a {
    color: var(--blue);
    text-decoration: none;
}

.sub-item a:hover {
    text-decoration: none;
    background-color: var(--gray);
    border-radius: 5px;
    padding: 0px 3px;
    color: var(--blue);
}

/* RODAPÉ - FOOTER*/
.main-footer {
    background-color: var(--skyblue);
    padding: 15px 0;   
}

.main-footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-smaller {
    font-family: "Raleway", sans-serif;
    color: var(--blue);
    font-size: 26px;
}
.list-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-item {
    width: 50px;
    height: 50px;
    padding: 15px 0;
}

.footer-item + .footer-item {
    margin-left:16px;
}

/*Página Sobre*/

.main-about {
    padding:40px 0px 64px;/*três elementos no padding diz que temos um espaçamento em cima, na direita e esquerda e em baixo, respectivamente*/
}

.container {
    max-width: 600px;
    padding: 0 16px;
    margin: 0 auto;
}

.title-median {
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;

}

.about-image {
    float: left;
    margin: 0 20px 10px 0 ;
    width: 200px;
    height: auto;
}

.about-description {
    color: var(--gray);
    text-align: justify;
}

/*PÁGINA CONTATO*/

.contact-text {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
}

.contact {
    background-color: var(--skyblue);
    padding: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.contact-label {
    display: block;
    margin-bottom: 20px;
    color: var(--blue);
}

.contact-field {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding-left: 10px;
    border: none;
}
.contact-field:focus /*o focus realiza modificações dentro das caixas*/ {
    background-color: var(--gray);
    outline: none;/*Remove a linha de dentro das caixas*/

}
textarea.contact-field {
    height: 150px;
    padding: 10px;
    font-family: "Roboto", Calibri;
}

.button-form {
    background-color: var(--blue);
    color: var(--white);
    border: 2px solid var(--blue);
    border-radius: 10px;
    padding: 2px 6px;
    font-weight: bold;
    cursor: pointer;
}

.button-form:hover {
    background-color: var(--white);
    color: var(--blue);

}

.contact-maps {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
}

/*PÁGINA HOME(INDEX)*/

.title-header {
    font-family: "Madimi One", cursive;
    color: var(--blue);
    font-size: 38px;
    padding-bottom: 10px;
}
.title-large {
    font-family: "Rock Salt", cursive;
    font-size: 38px;
    color: var(--blue);
    text-align: center;

}
.description {
    text-align: center;
    color: var(--gray);
    padding-bottom: 10px;
}
.emphasis {
    background-color: var(--skyblue);
    color: var(--blue);
    border-radius: 25px;

}
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    padding-bottom: 30px;
}

.product {
    display: flex;
    flex-direction: column;/*Estamos dizendo que queremos todos na mesma coluna*/
    align-items: center;
    margin: 0 auto;
}
.product-title {
    font-size: 20px;
    margin-bottom: 6px;
}
.product-box {
    border-radius: 8px;
    box-shadow: 3px 3px 5px 5px black;
    margin-bottom: 20px;
}

.product-image {
    width: 320px;
    height: 220px;
    transform-origin: center center;
    object-fit: cover;
}

.product-price-container {
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.product-price {
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
}
.button-hover {
    background-color: var(--skyblue);
    color: var(--blue);
    border: 2px solid var(--skyblue);
    border-radius: 10px;
    padding: 4px 2px;
    font-weight: bold;
    cursor: pointer;/*Quando o curso passar em cima do botão, irá mudar para a mãozinha*/
    margin: 5px;
}
.button-hover:hover {
    background-color:transparent;
}
.shirt-image {
    width: 200px;
    height: 210px;
    padding-bottom: 15px;

}
.product-description {
    font-family: "Raleway", sans-serif;
    color: var(--gray);
    font-size: 22px;
    text-align: center;
}


/*Carrinho da página Loja*/
.cart-table {
    width: 100%;
    border-collapse: collapse;/*Imenda as linhas abaixo das colunas*/
    padding-bottom: 6px;
    text-transform: uppercase;
}
.table-header-item {
    text-align: start;
    border-bottom: 2px solid var(--darkgray);
    padding-bottom: 6px;
    text-transform: uppercase;
}
.second-col,
.third-col {
    width: 25%;
}
.cart-product {
    padding: 8px;
}
.product-identification {
    display: flex;
    align-items: center;
}
.cart-product-image {
    width: 120px;
    height: 100px;
}
.cart-product-title {
    margin-left: 15px;
}
.cart-product-price {
    font-family: "Raleway", sans-serif;
}
.product-qnt-input {
    width: 100%;
    height: 35px;
    border:2px solid var(--blue);
    border-radius: 5px;
    background-color: var(--silver);
    text-align: center;
}
.remove-product-button {
    background-color: var(--red);
    color: var(--white);
    border: 0;
    border-radius: 5px;
    padding: 4px 2px;
}
.remove-product-button:hover {
    filter: brightness(0.8);/*filtro do brilho*/
}
.cart-total-container {
    border-top: 2px solid var(--darkgray);
    text-align: end;
    padding: 6px 16px 0 0;
}
.cart-total-container strong {
    margin-right: 10px;
}
.purchase-button {
    display: flex;
    color: var(--white);
    background-color: var(--blue);
    padding: 16px 20px;
    /*font-size: 22px;*/
    font-family: "Roboto", sans-serif;
    border-radius: 6px;
    text-transform: uppercase;
    border: 0;
    font-weight: bold;
    margin: 24px auto 0;
}
.purchase-button:hover {
    filter: brightness(0.8);
}
/*.cart-total-price {
    
}*/
.container-quant-button {
    display: flex;
    flex-direction: column;    
}

/*Configurações para mobile*/

@media (max-width: 740px) {
    
    /*Cabeçalho*/
    .nav-item {
        font-size: 18px;
    }
    .title-header {
        font-size: 30px;
        padding-top: 5px;
    }
    .title-large {
        font-size: 22px;
    }
    .description {
        padding: 0 7px;
        padding-bottom: 15px;
    }
    .title-median {
        font-size: 22px;
        padding: 5px;
        margin: 5px 8px;
    }
    .product-price {
        font-size: 17px;
        padding-left: 5px;
    }

    /*Rodapé*/
    .main-footer-container {
        flex-direction:column;
    }
    .title-smaller {
        font-size: 18px;
        text-align: center;
    }

    /*Página Loja*/
    .cart-table {
        margin: 0 5px;
    }

    .title-header {
        font-size: 22px;
        text-align: center;
    }
    .main-about {
        padding:5px 2px 4px;
    }
    .product-container {
        padding: 15px 0;
    }
    .table-header-item {
        font-size: 14px;
    }
    .cart-product-image {
        width:85px;
        height: 85px;
    }
    .cart-product-title {
        font-size: 15px;
    }
    .cart-product-price {
        font-size: 15px;
        padding-left:15px;
    }
    .product-qnt-input {
        width: 20px;
        height: 30px;
        font-size: 19px;
        border: 1px solid var(--blue);
    }
    .remove-product-button {
        width: 50px;
        height: 30px;
    }

    /*Página de contato*/
    
    .contact-text {
        font-size: 22px;
    }

    .contact {
        width: 310px;
    }
    .button-form {
        padding: 0 90px;
    }
    .contact-maps {
        width: 310px;
        height: 180px;
        padding: 0px;
        margin: 0px auto;
    }

    






}








