
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

/*Resetamos para iniciar o estilo*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Cabeçalho padrão - header */
.main-header {
    background-image: url(background-image.png);
    background-position: 50% 39%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main-nav {
    width: 100%;
    max-width: 600px;
    padding: 0 16px;
}
.header-list-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}
.nav-item {
    list-style-type: none;
    text-transform: uppercase;
    color: #00008B;

}
hr {
    width: 100%;
}
.nav-item a {
    text-decoration: none;
    color: inherit;

}
.nav-item:hover {
    color: #00008bb2;
    transition: 0,5s;

}

/*Página Sobre*/

